@import "src/constants/variables";

.header {
  text-align: center;
}

.blue30 {
  color: blue !important;
  font-size: $headerTextSize;
}

.black15 {
  color: #282c34 !important;
  font-size: $headerTextSize/2;
}

.red30 {
  color: red !important;
  font-size: $headerTextSize;
}
