@import "src/constants/variables";

.header {
  text-align: center;
}

.blue30 {
  color: blue !important;
  font-size: $headerTextSize;
}

.black15 {
  color: #282c34 !important;
  font-size: $headerTextSize/2;
}

.red30 {
  color: red !important;
  font-size: $headerTextSize;
}

.socialBtn {
  border: 1px solid #e1e4e7;
  border-radius: 5px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 15px;
  height: 45px;
}

.socialBtnImg {
  height: 32px;
  margin-top: -2px;
}

.containerLogin {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formDiv {
  width: 350px;
  height: 400px;
}
