{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "amd": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "import",
    "react"
  ],
  "extends": [
    "plugin:react/recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "no-undef": "off",
    "import/first": "error",
    // we only want single quotes
    "quotes": ["error", "single"],
    // we want to force semicolons
    "semi": ["error", "always"],
    // we use 2 spaces to indent our code
    "indent": ["error", 4],
    // we want to avoid useless spaces
    "no-multi-spaces": ["error"]
  }
}
