@import "../constants/variables.scss";

.mainDiv {
  height: 100vh;
  background-color:$backgroundColor;
}

.wrapper {
  padding-left: $navSize;
}

.headerDiv {
  text-align: center;
  padding-top: 20px;
  height: 50px;
}

.navBar {
  background-color: $menuColor;
}
