@import "../constants/variables.scss";

.wrapper {
  padding-left: $navSize;
}

.headerDiv {
  text-align: center;
  padding-top: 20px;
  height: 50px;
}

.navBar {
  background-color: $menuColor;
  position: fixed;
  top: 0;
  left: 0;
}
