$theme-core: (
  'headerTextSize': 30px,
  'navSize': 165px,
);

$theme-size: (
  'borderRadius': 5px,
  'spacingSize': 20px,
  'iconSize': 1.75em,
);

$theme-colors: (
  'borderColor': #fff,
  'backgroundColor': #f0f2f5,
  'themeColor': #233044,
  'themeColorHover': #1c2636,
  'textColor': #202121,
  'avatarColor': #757575,
  'primaryButtonColor': #4782da,
  'primaryButtonDisabledColor': #4762a6,
  'secondaryButtonColor': #f44336,
  'greenColor': #4caf50,
  'orangeColor': #f57c00,
);

:export {
  @each $key, $value in $theme-core {
    #{$key}: #{$value};
  }

  @each $key, $value in $theme-size {
    #{$key}: #{$value};
  }

  @each $key, $value in $theme-colors {
    #{$key}: #{$value};
  }
}
