@import 'src/components/common/theme/theme';

.wrapper {
    padding-left: map-get($theme-core, 'navSize');
    height: 100vh;
}

.navBar {
    background-color: map-get($theme-colors, 'themeColor');
    position: fixed;
    top: 0;
    left: 0;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    height: 100vh;
}

.rootDiv {
    flex-grow: 1;
    padding: 24px;
    height: 100%;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
