.scrollableList {
    max-height: 100%;
    overflow: auto;
}

.formControl {
    background-color: white;
    width: 300px;
}

.selectEmpty {
    margin-top: 16px;
}

.card {
    height: 400px;
}

.cardContent {
    height: 350px;
}

.cardExtra {
    height: 450px;
}

.cardExtraContent {
    height: 400px;
}
