@import "src/constants/variables";

.noDataDiv {
  color: grey;
  text-align: center;
  width: 350px;
  height: 400px;
}

.containerProject {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project {
  height: 100vh;
  width: 100vh;
  padding-top: $spacingSize;
  margin-left: -$spacingSize;
}

.projectsForm {
  padding-top: $spacingSize;
}

.marginLeft {
  margin-left: $spacingSize;
}
