$theme-core: (
  'headerTextSize': 30px,
  'navSize': 64px,
);

$theme-size: (
  'borderRadius': 5px,
  'spacingSize': 20px,
  'iconSize': 1.75em,
);

$theme-colors: (
  'borderColor': #fff,
  'backgroundColor': #f0f2f5,
  'themeColor': #031831,
  'textColor': #30373e,
  'primaryButtonColor': #3f51b5,
  'primaryButtonDisabledColor': #4762a6,
  'secondaryButtonColor': #bd0f0f,
);

:export {
  @each $key, $value in $theme-core {
    #{$key}: #{$value};
  }

  @each $key, $value in $theme-size {
    #{$key}: #{$value};
  }

  @each $key, $value in $theme-colors {
    #{$key}: #{$value};
  }
}
